<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		">


	<!-- 配置工具 -->
	<bean class="com.iam_vip.sync.rs.u.ConfigUtil" scope="singleton">
		<constructor-arg name="fmap" type="java.util.Map">
			<map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="Windows" value="D:/tmp" />
				<entry key="Others" value="/tmp" />
				<entry key="C:\\" value="/ccc" />
				<entry key="D:\\" value="/ddd" />
				<entry key="E:\\" value="/eee" />
				<entry key="F:\\" value="/fff" />
				<entry key="G:\\" value="/ggg" />
				<entry key="H:\\" value="/hhh" />
				<entry key="I:\\" value="/iii" />
				<entry key="J:\\" value="/jjj" />
				<entry key="K:\\" value="/kkk" />
				<entry key="L:\\" value="/lll" />
				<entry key="M:\\" value="/mmm" />
				<entry key="N:\\" value="/nnn" />
				<entry key="O:\\" value="/ooo" />
				<entry key="P:\\" value="/ppp" />
				<entry key="Q:\\" value="/qqq" />
				<entry key="R:\\" value="/rrr" />
				<entry key="S:\\" value="/sss" />
				<entry key="T:\\" value="/ttt" />
				<entry key="U:\\" value="/uuu" />
				<entry key="V:\\" value="/vvv" />
				<entry key="W:\\" value="/www" />
				<entry key="X:\\" value="/xxx" />
				<entry key="Y:\\" value="/yyy" />
				<entry key="Z:\\" value="/zzz" />
			</map>
		</constructor-arg>
		<constructor-arg name="linuxMacResource" type="java.lang.String" value="/sync-rs" />
	</bean>
	
	<!-- 
	<Context docBase="C:\\" path="/ccc" />
	<Context docBase="D:\\" path="/ddd" />
	<Context docBase="E:\\" path="/eee" />
	<Context docBase="F:\\" path="/fff" />
	<Context docBase="G:\\" path="/ggg" />
	<Context docBase="H:\\" path="/hhh" />
	<Context docBase="I:\\" path="/iii" />
	<Context docBase="J:\\" path="/jjj" />
	<Context docBase="K:\\" path="/kkk" />
	<Context docBase="L:\\" path="/lll" />
	<Context docBase="M:\\" path="/mmm" />
	<Context docBase="N:\\" path="/nnn" />
	<Context docBase="O:\\" path="/ooo" />
	<Context docBase="P:\\" path="/ppp" />
	<Context docBase="Q:\\" path="/qqq" />
	<Context docBase="R:\\" path="/rrr" />
	<Context docBase="S:\\" path="/sss" />
	<Context docBase="T:\\" path="/ttt" />
	<Context docBase="U:\\" path="/uuu" />
	<Context docBase="V:\\" path="/vvv" />
	<Context docBase="W:\\" path="/www" />
	<Context docBase="X:\\" path="/xxx" />
	<Context docBase="Y:\\" path="/yyy" />
	<Context docBase="Z:\\" path="/zzz" />
	 -->
	

	<!-- 过滤URL及对应Method -->
	<bean class="com.iam_vip.sync.rs.u.MethodUtil" scope="singleton">
		<constructor-arg name="enable" value="false" />
		<constructor-arg name="methods">
			<list value-type="java.lang.String">
				<value>com.iam_vip.sync.action.sync.FileSyncAction.upload</value>
			</list>
		</constructor-arg>
	</bean>

</beans>